@import "./reset.css";
@import url('https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap');

[class*="__container"] {
    max-width: calc(1120px + 40px * 2);
    margin: 0 auto;
    padding: 0px 40px;
}
body {
    font-family: 'Inter';
}
* {
    color: #fff;
}
.button {
    padding: 0px 40px;
    border: 1px solid #fff;
    line-height: 48px;
    transition: .2s;
    text-transform: uppercase;
}
/* ===================== HEADER ===================== */

.header {
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    // .header__content

    &__content {
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        transition: padding .2s;
    }

    // .header__logo

    &__logo {
    }

    // .header__nav

    &__nav {
    }

    // .header__list

    &__list {
        display: flex;
        gap: 40px;  
    }

    // .header__item

    &__item {
    }
}

/* ===================== MAIN ===================== */

.main {
    height: 1032px;
    background: url('../img/main/background.jpg') 50% 50%/cover no-repeat;
    text-align: center;

    // .main__content

    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    // .main__img

    &__img {
        margin-bottom: 24px;
    }

    // .main__title

    &__title {
        font-weight: 700;
        font-size: 96px;
        margin-bottom: 24px;
    }

    // .main__subtitle

    &__subtitle {
        font-size: 32px;
        max-width: 760px;
        margin-bottom: 48px;
    }

    // .main__button

    &__button {
    }
}

/* ===================== FEATURES ===================== */

.features {
    background: url('../img/features/background.jpg') 50% 0/auto 100% no-repeat;

    // .features__container

    &__container {
    }

    // .features__content

    &__content {
        padding: 144px 0px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }

    // .features__sidebar

    &__sidebar {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
}
.sidebar {

    // .sidebar__item

    &__item {
        display: flex;
        gap: 16px;

        &.reverse {
            text-align: right;
            flex-direction: row-reverse;
        }
    }

    // .sidebar__img

    &__img {
    }

    // .sidebar__desc

    &__desc {

        * {
            color: #000;
        }
    }

    // .sidebar__title

    &__title {
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    // .sidebar__subtitle

    &__subtitle {
        font-size: 12px;
        line-height: 24px;
        max-width: 272px;
    }
}

/* ===================== CTA ===================== */

.cta {
    background: url('../img/cta/background.jpg') 50% 50%/cover no-repeat;

    // .cta__content

    &__content {
        padding: 96px 40px;
        text-align: center;
    }

    // .cta__title

    &__title {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 48px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: -24px;
            left: 50%;
            height: 1px;
            width: 190px;
            background-color: #fff;
            transform: translateX(-50%);
        }
    }

    // .cta__subtitle

    &__subtitle {
        margin: 0 auto 48px;
        line-height: 24px;
        max-width: 474px;
    }

    // .cta__button

    &__button {
        display: inline-block;
    }
}