@import "./reset.css";
@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");
[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 40px;
}

body {
  font-family: "Inter";
}

* {
  color: #fff;
}

.button {
  padding: 0px 40px;
  border: 1px solid #fff;
  line-height: 48px;
  transition: 0.2s;
  text-transform: uppercase;
}

/* ===================== HEADER ===================== */
.header {
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header__content {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  transition: padding 0.2s;
}
.header__list {
  display: flex;
  gap: 40px;
}
/* ===================== MAIN ===================== */
.main {
  height: 1032px;
  background: url("../img/main/background.jpg") 50% 50%/cover no-repeat;
  text-align: center;
}
.main__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main__img {
  margin-bottom: 24px;
}
.main__title {
  font-weight: 700;
  font-size: 96px;
  margin-bottom: 24px;
}
.main__subtitle {
  font-size: 32px;
  max-width: 760px;
  margin-bottom: 48px;
}
/* ===================== FEATURES ===================== */
.features {
  background: url("../img/features/background.jpg") 50% 0/auto 100% no-repeat;
}
.features__content {
  padding: 144px 0px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.features__sidebar {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.sidebar__item {
  display: flex;
  gap: 16px;
}
.sidebar__item.reverse {
  text-align: right;
  flex-direction: row-reverse;
}
.sidebar__desc * {
  color: #000;
}
.sidebar__title {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.sidebar__subtitle {
  font-size: 12px;
  line-height: 24px;
  max-width: 272px;
}

/* ===================== CTA ===================== */
.cta {
  background: url("../img/cta/background.jpg") 50% 50%/cover no-repeat;
}
.cta__content {
  padding: 96px 40px;
  text-align: center;
}
.cta__title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 48px;
  position: relative;
}
.cta__title::before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  height: 1px;
  width: 190px;
  background-color: #fff;
  transform: translateX(-50%);
}
.cta__subtitle {
  margin: 0 auto 48px;
  line-height: 24px;
  max-width: 474px;
}
.cta__button {
  display: inline-block;
}