@import "./reset.css";
@import url('https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap');

[class*="__container"] {
    max-width: calc(1120px + 140px * 2);
    margin: 0 auto;
    padding: 0px 40px;
}
body {
    font-family: 'Inter';
}
* {
    color: #fff;
}
.button {
    padding: 0px 40px;
    border: 1px solid #FFFFFF;
    line-height: 48px;
}
/* ===================== HEADER ===================== */

.header {
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    // .header__content

    &__content {
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    // .header__logo

    &__logo {
    }

    // .header__nav

    &__nav {
    }

    // .header__list

    &__list {
        display: flex;
        gap: 40px;  
    }

    // .header__item

    &__item {
    }
}

/* ===================== MAIN ===================== */

.main {
    height: 1032px;
    background: url('../img/main/background.jpg') 50% 50%/cover no-repeat;
    text-align: center;

    // .main__content

    &__content {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    // .main__img

    &__img {
    }

    // .main__title

    &__title {
        font-weight: 700;
        font-size: 96px;
        margin-bottom: 24px;
    }

    // .main__subtitle

    &__subtitle {
        font-size: 32px;
        max-width: 760px;
        margin-bottom: 48px;
    }

    // .main__button

    &__button {
    }
}