@import "./reset.css";
@import url('https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap');

[class*="__container"] {
    max-width: calc(1120px + 40px * 2);
    margin: 0 auto;
    padding: 0px 40px;
}
[class*="__title"] {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        bottom: -24px;
        left: 50%;
        height: 1px;
        width: 190px;
        background-color: #fff;
        transform: translateX(-50%);
    }
}
body {
    font-family: 'Inter';
}
* {
    color: #fff;
}
.button {
    padding: 0px 40px;
    border: 1px solid #fff;
    line-height: 48px;
    transition: .2s;
    text-transform: uppercase;
}
/* ===================== HEADER ===================== */

.header {
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    // .header__content

    &__content {
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        transition: padding .2s;
    }

    // .header__logo

    &__logo {
    }

    // .header__nav

    &__nav {
    }

    // .header__list

    &__list {
        display: flex;
        gap: 40px;  
    }

    // .header__item

    &__item {
    }
}

/* ===================== MAIN ===================== */

.main {
    height: 1032px;
    background: url('../img/main/background.jpg') 50% 50%/cover no-repeat;
    text-align: center;

    // .main__content

    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0px 40px;
    }

    // .main__img

    &__img {
        margin-bottom: 24px;
    }

    // .main__title

    &__title {
        font-weight: 700;
        font-size: 96px;
        margin-bottom: 24px;

        &::before {
            display: none;
        }
    }

    // .main__subtitle

    &__subtitle {
        font-size: 32px;
        max-width: 760px;
        margin-bottom: 48px;
    }

    // .main__button

    &__button {
    }
}

/* ===================== FEATURES ===================== */

.features {
    background: url('../img/features/background.jpg') 50% 0/auto 100% no-repeat;

    // .features__container

    &__container {
    }

    // .features__content

    &__content {
        padding: 144px 0px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }

    // .features__sidebar

    &__sidebar {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
}
.sidebar {

    // .sidebar__item

    &__item {
        display: flex;
        gap: 16px;

        &.reverse {
            text-align: right;
            flex-direction: row-reverse;
        }
    }

    // .sidebar__img

    &__img {
    }

    // .sidebar__desc

    &__desc {

        * {
            color: #000;
        }
    }

    // .sidebar__title

    &__title {
        text-transform: uppercase;
        margin-bottom: 5px;

        &::before {
            display: none;
        }
    }

    // .sidebar__subtitle

    &__subtitle {
        font-size: 12px;
        line-height: 24px;
        max-width: 272px;
    }
}

/* ===================== CTA ===================== */

.cta {
    background: url('../img/cta/background.jpg') 50% 50%/cover no-repeat;

    // .cta__content

    &__content {
        padding: 96px 40px;
        text-align: center;
    }

    // .cta__title

    &__title {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 48px;
    }

    // .cta__subtitle

    &__subtitle {
        margin: 0 auto 48px;
        line-height: 24px;
        max-width: 474px;
    }

    // .cta__button

    &__button {
        display: inline-block;
    }
}

/* ===================== MENU ===================== */

.menu {
    position: relative;
    overflow: hidden;
    background-color: #EEEEEE;

    * {
        color: #000;
    }

    // .menu__container

    &__container {
    }

    // .menu__content

    &__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 96px 0 552px 0;

        @media (max-width: 1024px) {
            padding: 96px 0 1002px 0;
        }


        .body {
            background-color: red;

            // .body__item
        
            &__item {
                display: flex;
                gap: 24px;
                text-align: left;
            }
        
            // .body__img
        
            &__img {
                min-width: 72px;
                min-height: 72px;
            }

            // .body__text

            &__text {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        
            // .body__desc
        
            &__desc * {
                text-align: left;
            }
        
            // .body__title
        
            &__title {

                &::before {
                    display: none;
                }
            }
        
            // .body__subtitle
        
            &__subtitle {
                font-size: 12px;
            }
        
            // .body__price
        
            &__price {
            }
        }
    }

    // .menu__title

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 48px;

        &::before {
            background-color: #000;
        }
    }

    // .menu__subtitle

    &__subtitle {
        line-height: 24px;
        max-width: 474px;
        margin-bottom: 48px;
    }

    // .menu__tabs

    &__tabs {
        display: flex;
        gap: 40px;
        margin-bottom: 48px;
    }

    // .menu__tab

    &__tab {
        appearance: none;

        &:checked + label {
            border-bottom: 1px solid #000;
        }
        & + label {
            text-transform: uppercase;

            &:hover {
                border-bottom: 1px solid rgb(145, 145, 145);
            }
        }
    }

    // .menu__body

    &__body {
        padding: 0px 40px;
        position: absolute;
        top: 360px;
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, minmax(250px, 624px));
        grid-template-rows: repeat(5, 72px);
        grid-auto-flow: column;
        grid-column-gap: 30px;
        grid-row-gap: 24px;


        @media (max-width: 1024px) {
            grid-template-columns: repeat(1, minmax(250px, 624px));
            grid-template-rows: repeat(10, 72px);
        }
    }

    .food {
        right: 0;
        transition: right .35s;

        &.active {
            right: -100%;
        }
    }
    .drinks {
        left: 0;
        transition: left .35s;

        &.active {
            left: -100%;
        }
    }
}

/* ===================== TESTIMONALS ===================== */

.testimonials {
    overflow: hidden;

    // .testimonials__content

    &__content {
        text-align: center;
        position: relative;
    }

    // .testimonials__wrapper

    &__wrapper {
        padding: 0px 40px;
    }

    // .testimonials__title

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 72px;
    }

    // .testimonials__review

    &__review {
        max-width: 735px;
        line-height: 24px;
        margin-bottom: 24px;
    }

    // .testimonials__info

    &__info {
        margin-bottom: 48px;
    }
}
.swiper {

    // .swiper__content

    &__container {
    }

    // .swiper__wrapper

    &__wrapper {
    }

    // .swiper__slide

    &__slide {
        background: url('../img/testimonials/background.jpg') 50% 50%/cover no-repeat;
        height: 504px!important;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        user-select: none;
    }

    // .swiper__pagination

    &-pagination {
        display: inline-block!important;
        bottom: 96px!important;
        z-index: 5!important;

        &-bullet {
            width: 11px!important;
            height: 11px!important;
            border: 1px solid #FFFFFF;
            background-color: transparent!important;
            opacity: 1!important;

            &-active {
                background-color: #D9D9D9!important;
                border-color: #D9D9D9!important;
            }
        }
    }
}

/* ===================== POSTS ===================== */

.posts {
    background-color: #EEEEEE;

    * {
        color: #111111;
    }

    // .posts__container

    &__container {
    }

    // .posts__content

    &__content {
        text-align: center;
        padding: 96px 0px;
    }

    // .posts__title

    &__title {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 48px;

        &::before {
            background-color: #444444;
        }
    }

    // .posts__subtitle

    &__subtitle {
        line-height: 24px;
        color: #111111;
        max-width: 474px;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    // .posts__cards

    &__cards {
        display: flex;
        justify-content: space-between;
        text-align: left;
        gap: 24px;
    }

    .cards {

        // .cards__card
    
        &__card {
        }
    
        // .cards__img
    
        &__img {
            margin-bottom: 24px;
        }
    
        // .cards__title
    
        &__title {
            max-width: 352px;
            font-weight: 700;
            text-transform: uppercase;

            &::before {
                display: none;
            }
        }
    
        // .cards__subtitle
    
        &__subtitle {
            line-height: 24px;
            max-width: 352px;
            margin-bottom: 24px;
        }
    
        // .cards__btn
    
        &__btn {
            position: relative;
            padding-left: 20px;
            font-size: 12px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 12px;
                height: 1px;
                background-color: #000;
            }
        }
    }
}

/* ===================== LOCATIONS ===================== */

.locations {
    background: url('../img/locations/background.jpg') 50% 50%/cover no-repeat;

    // .locations__container

    &__container {
    }

    // .locations__content

    &__content {
        padding: 96px 40px;
        text-align: center;
    }

    // .locations__title

    &__title {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 48px;
    }

    // .locations__subtitle

    &__subtitle {
        line-height: 24px;
        margin-bottom: 48px;
    }

    // .locations__cards

    &__cards {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    // .locations__card

    &__card {
        max-width: 256px;

        .card {

            // .card__img
        
            &__img {
                margin-bottom: 24px;
                padding: 0 5.5px;
            }
        
            // .card__title
        
            &__title {
                font-size: 24px;
                line-height: 48px;
                margin-bottom: 24px;

                &::before {
                    display: none;
                }
            }
        
            // .card__info
        
            &__info {

                * {
                    line-height: 24px;
                }
            }
        
            // .card__days
        
            &__days {
            }
        
            // .card__street
        
            &__street {
            }
        }
    }
}